.contact-card
{
    padding: 5px;
    margin: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 2px;
}

h3 {
    padding: 0;
    margin: 10px 0px;
    cursor: pointer;
    flex-grow: 1;
}

.opened .contact-top
{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: black;
}

.contact-top 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.phone-input
{   
    display: flex;
    justify-content: space-between;
    margin:10px 0px;    
}

.textbox
{
    margin: 2px;
}

.textbox, .add-btn
{
    flex-grow: 1;
    margin: 3px 2px;
}